body{
    background-color: rgb(48, 47, 47);
    color: #ffffff;
    margin: 0%;
}

h1{
    background-color: tan;
    margin-bottom: 0px;
}


.inline{
    color:black;
    /*la altura y el ancho se aplica diferente en una referencia, solo cambia con el contenido */
    margin-top: 100px;
    background-color: burlywood;
}

.header{
    
    height: 60px;
    background-color: red;
}
/*~~~~~~~~~~~~~~~~~~~~~~~MARGING~~~~~~~~~~~~~~~~~~*/

/*
marging-top;   :
marging-left;   :
marging-right;   :
marging-bottom;   :

elementos en bloque -> tienen margenes todas partes

elementos en linea -> solo tienen margenes en horizontal
*/

.box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
/*~~~~~~~~~PADDING~~~~~~~~~~~~*/

/*
4 valores --> padding:top right botton left ;

tanto para los elementos en bloque y en linea no hay limitaciones con el padding

*/
.bottons{ /*es el contenedor */
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
}

.botton{ /*es el boton*/
    margin-left: 100px;
    padding: 20px 50px;
}

/*~~~~~~~~~~~BORDER~~~~~~~~~~~~~~~~*/

/*
border-widht -> ancho del borde

border-style -> estilo de borde

border-color -> color del borde

*/

.botton{
    border: 1em solid black;
    border-top: 5px solid blue;
    border-bottom:5px solid blue;
}

/*BOX-SIZEING*/

/*
content-box ->

border-box ->

*/
.cuadrado{
    width: 300px;
    padding: 20px;
    margin-top: 5px;
    background-color: tomato;
    box-sizing: border-box;
    
}
.inte{
    margin-top: 5px;
    padding: 20px 30px 100px 30px;
    background-color: blue;
}

/*BORDER - RADIUS*/
/*
podemos modificar las 4 esquinas  para hacer la forma
que nos interece 

border-top-left-radius:  ;
*/

/*OVERFLOW*/
/*
overflow -> hidden: oculta lo que sale
overflow-scrol
*/