/*FUNCIONES DE CSS*/

/*
establece la especificidad de un selector para saber que estili aplicar 

- Etiqueta 0,0,1
- Clases, atributos, 0,1,0
- ids 1,0,0
- Estilos en linea 1,0,0,0

!important gana todo pero es mejor no utilizarlo

cascada -> Funciona que siempre la especificidad  sobre un elemento sea la misma

herencia : hereda propiedades de otros elementos

los elementos que no pueden heredar por defectos podemos utilizar --> "inherit"
.link{
    color:inherit;
}
*/

.title{
    background-color: tomato;
}

.title{
    background-color: blue;
    
}

.herencia{
    color:red;
}